main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(var(--bg));

  >.container {
    width: 70%;
    height: 70%;
    border: 1px solid rgba(var(--border), 0.9);
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(var(--shadow), 0.6);
    background-color: rgb(var(--surface));
    padding: 10px 14px 12px 12px;
    display: flex;
    gap: 15px;

    >.float {
      width: 60%;
      height: 100%;
      background-color: rgb(var(--bg));
      border: 1px solid rgba(var(--border), 0.8);
      border-radius: 15px;
      box-shadow: 5px 5px 5px rgba(var(--shadow), 0.7);
      transition: transform 500ms ease-in-out;
      transform: translateX(-100%);

      &.right {
        box-shadow: -5px 5px 5px rgba(var(--shadow), 0.7);
        transform: translateX(100%);
      }

      &.left {
        transform: translateX(0);
        box-shadow: 5px 5px 5px rgba(var(--shadow), 0.7);
      }
    }
  }
}
