main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(var(--bg));

  >.container {
    width: 70%;
    height: 70%;
    border: 1px solid rgba(var(--border), 0.9);
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(var(--shadow), 0.7);
    background-color: rgb(var(--surface));
    padding: 10px 14px 12px 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    >.float {
      position: absolute;
      top: 10px;
      box-sizing: border-box;
      padding: 20px;
      width: calc((100% / 3) * 2);
      height: calc(100% - 25px);
      background-color: rgb(var(--bg));
      border: 1px solid rgba(var(--border), 0.8);
      border-radius: 15px;
      box-shadow: 5px 5px 5px rgba(var(--shadow), 0.7);
      transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), box-shadow 0.6s ease;
      z-index: 10;
      transform: translateX(10px);
      &.right {
        transform: translateX(calc(50% - 10px));
        box-shadow: -5px 5px 5px rgba(var(--shadow), 0.7);
      }
    }
  }
}
